.big-sky__agent-controls {
	margin: 8px 0;

	label {
		width: 60px;
	}

	.big-sky__agent-running-indicator,
	.big-sky__assistant-indicator,
	.big-sky__thread-indicator,
	.big-sky__assistant-run-indicator,
	.big-sky__goal-indicator,
	.big-sky__assistant-enabled {
		margin-left: 8px;
	}
}
