.big-sky__tool-call-controls {
	margin: 8px 0;

	label {
		width: 60px;
	}

	.big-sky__tool-call-message
	{
		margin-left: 8px;
	}

	.big-sky__assistant-message
	{
		max-height: 100px;
		overflow-y: scroll;
	}
}
